:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.mio-hidden {
  opacity: 0 !important;
  transition: all ease-in-out 0.3s;
  transform: translateY(10px) !important;
}

@keyframes light {
  0% {
    box-shadow: 0 0 4px #50afda;
    -moz-box-shadow: 0 0 4px #50afda;
    -webkit-box-shadow: 0 0 4px #50afda;
  }
  25% {
    box-shadow: 0 0 30px #50afda;
    -moz-box-shadow: 0 0 30px #50afda;
    -webkit-box-shadow: 0 0 30px #50afda;
  }
  50% {
    box-shadow: 0 0 4px #50afda;
    -moz-box-shadow: 0 0 4px #50afda;
    -webkit-box-shadow: 0 0 4px #50afda;
  }
  75% {
    box-shadow: 0 0 30px #50afda;
    -moz-box-shadow: 0 0 30px #50afda;
    -webkit-box-shadow: 0 0 30px #50afda;
  }
  100% {
    box-shadow: 0 0 4px #50afda;
    -moz-box-shadow: 0 0 4px #50afda;
    -webkit-box-shadow: 0 0 4px #50afda;
  }
}

@keyframes focuse {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  75% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

@keyframes move {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
